@charset "UTF-8";
*{
/* *{height: 100%; */
font-family: Arial, Helvetica, sans-serif;}

body{ background-image: linear-gradient(to right ,#65AFFF,#5899E2);

p{text-align: justify;}
}

main{

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1b2845a1 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{color: #274060;
    text-align: center;
    text-shadow: 1px 1px 2px #233e57cb;
}
h2{color: #335C81;
}

h6{ text-align: center;}


ul{list-style: none;
display: flex;
margin: 3px;
padding:  3px;
justify-content: space-around;}
